# Python
__pycache__/
*.py[cod]
*$py.class
env/
.venv/
venv/
ENV/
env.bak/
venv.bak/

# Environment Variables
.env
.env.*
!.env.example

# Database
*.db
*.db-journal
*.sqlite3

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Static / Uploads
static/uploads/*
!static/uploads/.gitkeep
